### Import Package

In [1]:
import requests
import pandas as pd
import time
import calendar

from bs4 import BeautifulSoup

### Timer Decorate

In [2]:
def timer(fn):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = fn(*args, **kwargs)
        end_time = time.time()
        print("{fn_name} : {time} ms".format(fn_name = fn.__name__, time = end_time - start_time))
        return result
    return wrapper

### Category Dictionary

In [3]:
category_dict = {
    "100":950203, # 정치
    "101":949986, # 경제
    "102":949987, # 사회
    "103":949988, # 생활/문화
    "104":949990, # 세계
    "105":949984, # IT/과학
}

### Crawling Last Page

In [4]:
# @timer
def last_page(category, date):
    compnentId = category_dict[str(category)]
    url = "http://news.naver.com/main/mainNews.nhn?componentId=" + str(compnentId) + "&date=" + date + " 00:00:00&page=100"
    response = requests.get(url)
    return response.json()["pagerInfo"]["page"]
    
# last_page(100, "2016-06-10")

### Crawling Content, Comment, LikeIt

In [5]:
# using json
# @timer
def get_likeit(aid, oid):    
    url = "http://news.like.naver.com/likeIt/likeItContent.jsonp?_callback=window.__jindo2_callback._7105&serviceId=NEWS&displayId=NEWS&contentsId=ne_" + str(oid) + "_" + str(aid) + "&lang=ko&viewType=recommend"
    response = requests.get(url)
    return response.text.split('likeItCount":')[1].split(",")[0]
    
# using bs4
# @timer
def get_content(path):
    
    response = requests.get(path)
    dom = BeautifulSoup(response.content, "html.parser")

    if len(dom.select("#articleTitleCommentCount .lo_txt")) == 0:
        return 0, 0, "-"
    
    comment = dom.select_one("#articleTitleCommentCount .lo_txt").text
    content = dom.select_one("#articleBodyContents").text.replace("\n","").replace("\r","").replace("\t","")
    aid = path.split("aid=")[1]
    oid = path.split("oid=")[1].split("&")[0]
    likeit = get_likeit(aid, oid)
    
    return comment, likeit, content

# url = "http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=003&aid=0007327243"
# content_data = get_content(url)
# content_data[0], content_data[1], len(content_data[2])

### Crawling 1 category, 1 day, 1 page

In [7]:
@timer
def one_page_df(category, date, page):
    """ excute time about 5 ~ 6 sec """

    url = "http://news.naver.com/main/mainNews.nhn?componentId=" + str(category_dict[str(category)]) + "&date=" + date + " 00:00:00&page=" + str(page)
    response = requests.get(url)
    article_list = response.json()["itemList"]
    
    result_df = pd.DataFrame(columns=["newsid", "oid", "newspaper", "title", "link", "comment", "likeit", "content", "date", "category"])

    for article in article_list:
        link = "http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=" + str(category) + "&oid=" + article["officeId"] + "&aid=" + article["articleId"]        
        comment, likeit, content = get_content(link)
        
        tmp_dict = {
            "newsid": article["articleId"],
            "oid": article["officeId"],
            "newspaper": article["officeName"],
            "title": article["title"],
            "link": link,
            "comment": comment,
            "likeit": likeit,
            "content": content,
            "date": date,
            "category": str(category-100),
        }
        
        result_df.loc[len(result_df)] = tmp_dict
        
    return result_df

df = one_page_df(105, "2016-07-07", 2)
df

one_page_df : 4.94457483291626 ms

,newsid,oid,newspaper,title,link,comment,likeit,content,date,category
0,0003708082,008,머니투데이,"SKT-CJ헬로비전, 공정위에 의견접수 연장 요청(상보)",http://news.naver.com/main/read.nhn?mode=LSD&m...,13,5,"[머니투데이 이하늘 기자, 진달래 기자] [공정위 전원회의 내달 초로 늦춰질 수도…...",2016-07-07,5
1,0003674447,014,파이낸셜뉴스,[투자활성화 대책] VR테마파크 등 5대 신기술에 600억 지원.. 400억 펀드로...,http://news.naver.com/main/read.nhn?mode=LSD&m...,1,0,VR 투자활성화 정부와 민간이 내년까지 가상현실(VR) 분야에 총 1000억원을 투...,2016-07-07,5
2,0008526843,001,연합뉴스,'로봇 배달부가 왔습니다'…유럽서 음식배달 자율주행로봇 등장,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,1,[저스트잇 홈페이지 캡처] (서울=연합뉴스) 김경윤 기자 = 이제 유럽에서 피...,2016-07-07,5
3,0001080251,016,헤럴드경제,[바람난과학] ‘새로운 파란색’ 발견…이게 무슨 말인가요?,http://news.naver.com/main/read.nhn?mode=LSD&m...,7,12,[HOOC=이정아 기자] Q. 타이거(tiger@)님이 보내주신 질문입니다. 며칠...,2016-07-07,5
4,0002500574,030,전자신문,"[삼성 깜짝실적]갤S7 효과 지속, IM 영업이익 4조원대 복귀",http://news.naver.com/main/read.nhn?mode=LSD&m...,2,1,삼성전자 정보기술·모바일(IM) 부문 2분기 영업이익이 2년 만에 4조원대에 복귀했...,2016-07-07,5
5,0002500566,030,전자신문,"카카오, 버스 지하철 서비스 개편 뒤 이용자 20% 증가",http://news.naver.com/main/read.nhn?mode=LSD&m...,2,1,"카카오버스 서비스 화면<전자신문DB>카카오 버스, 지하철 앱 이용자 수가 급증했다....",2016-07-07,5
6,0002500567,030,전자신문,[삼성 깜짝실적]DS부문 영업익 2.5조 추정 `선방`…고맙다 3D 낸드·OLED,http://news.naver.com/main/read.nhn?mode=LSD&m...,1,0,삼성전자 디바이스솔루션(DS) 부문은 3D 낸드플래시와 유기발광다이오드(OLED) ...,2016-07-07,5
7,0002500568,030,전자신문,우리 회사 도메인이 보내온 메일 무심코 눌렀더니… 변종 랜섬웨어 습격,http://news.naver.com/main/read.nhn?mode=LSD&m...,1,2,#회사에 출근한 직장인 A씨는 간밤에 들어온 이메일을 확인하다 회사 메일 계정과 같...,2016-07-07,5
8,0000380828,031,아이뉴스24,월마트의 애플페이 대항마 美전역 서비스 확대,http://news.naver.com/main/read.nhn?mode=LSD&m...,0,0,<아이뉴스24>[안희권기자] 세계 최대 대형할인매장 월마트가 애플페이 대항마를 미국...,2016-07-07,5
9,0003674400,014,파이낸셜뉴스,케이블TV 뿔났다..&quot;정책일관성 상실&quot; 공정위에 공개질의,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,1,SK텔레콤과 CJ헬로비전의 인수합병(M&A) 불발 위기로 시장 재편의 활로가 막힌...,2016-07-07,5
10,0007336787,003,뉴시스,"케이블TV사업자, 공정위에 'SKT-CJ헬로비전 합병불허' 공개 질의",http://news.naver.com/main/read.nhn?mode=LSD&m...,2,0,【서울=뉴시스】장윤희 기자 = 전국 케이블TV방송사업자(SO)가 정재찬 공정거래위원...,2016-07-07,5
11,0002986664,020,동아일보,"[리뷰] 가격은 저렴하게 품질은 고급스럽게, 아이리버 LS50 블루투스 스피커",http://news.naver.com/main/read.nhn?mode=LSD&m...,2,0,[동아닷컴]이제 본업인 MP3 플레이어보다 무손실 음원과 하이파이(Hi-Fi) 같은...,2016-07-07,5
12,0003783214,277,아시아경제,"&quot;소명 기한 너무 짧다&quot;…SKT·CJ헬로비전, 공정위에 연장 요청",http://news.naver.com/main/read.nhn?mode=LSD&m...,2,0,[아시아경제 강희종 기자]SK텔레콤과 CJ헬로비전이 공정거래위원회 심사결과보고서에 ...,2016-07-07,5
13,0002352466,029,디지털타임스,SKT - CJ헬로 합병 최종결정 ‘전원회의’ 앞두고 비상,http://news.naver.com/main/read.nhn?mode=LSD&m...,0,1,"SKT “막판 뒤집기” … 반 SKT “불허 굳히기”공정위,15일 심사 최종의결양측...",2016-07-07,5
14,0002848060,079,노컷뉴스,[영상]얼굴 인식 콘테스트…인간이 AI 이겼다,http://news.naver.com/main/read.nhn?mode=LSD&m...,0,0,알리바바 개발 얼굴인식 AI 로봇 '마크' 꺾어 [CBS노컷뉴스 문수경 기자] 얼굴...,2016-07-07,5
15,0003708030,008,머니투데이,"알리바바 마윈, 상하이車와 손잡고 '스마트카' 출시",http://news.naver.com/main/read.nhn?mode=LSD&m...,0,0,"[머니투데이 하세린 기자] [앱으로 엔진 시동·음성 인식으로 네비게이션 작동…""스마...",2016-07-07,5
16,0008526658,001,연합뉴스,"러 소유스 우주선, 美·日·러 우주인 태우고 우주정거장행(종합)",http://news.naver.com/main/read.nhn?mode=LSD&m...,125,43,"소유스에 타는 미국(좌), 러시아(중), 일본 우주인 (AP=연합뉴스) (서울...",2016-07-07,5
17,0002352465,029,디지털타임스,유료방송 요금규제 완화되는데 VOD값은 예상밖 줄줄이 인상,http://news.naver.com/main/read.nhn?mode=LSD&m...,1,0,"지상판·케이블 등 인상추진'가격인하 경쟁' 전망 벗어나""규제완화 사실상 실효성 없어...",2016-07-07,5
18,0002352463,029,디지털타임스,"네이버 - 카카오, 하반기도 성장세 이어지나",http://news.naver.com/main/read.nhn?mode=LSD&m...,0,3,"양사 올 2분기 예상실적 '맑음'네이버, 모바일광고 수익 늘듯카카오, O2O 서비스...",2016-07-07,5
19,0002352462,029,디지털타임스,"삼성·LG, 하반기 VR신제품 내놓는다",http://news.naver.com/main/read.nhn?mode=LSD&m...,1,0,"삼성, 내달 노트7 '기어VR' 추정LG, 9월 차기 제품 공개 가능성정부가 가상현...",2016-07-07,5
20,0002099560,092,ZDNet Korea,랜섬웨어 공격 급증…백업 솔루션 뜬다,http://news.naver.com/main/read.nhn?mode=LSD&m...,3,1,정교해진 기법으로 100% 예방 불가능 (지디넷코리아=송주영 기자)'디지털 인질' ...,2016-07-07,5
21,0002500505,030,전자신문,"알리바바, 2570만원짜리 커넥티드카 첫 출시",http://news.naver.com/main/read.nhn?mode=LSD&m...,2,3,마윈 알리바바 회장이 처음 출시한 커넥티크카를 타고 웃고 있다.중국 최대 전자상거래...,2016-07-07,5
22,0002099558,092,ZDNet Korea,"네이버, 패션윈도 삼총사 키운다",http://news.naver.com/main/read.nhn?mode=LSD&m...,0,2,"백화점-아울렛-스타일윈도, 이용자 친화적 개편 (지디넷코리아=안희정 기자)네이버 윈...",2016-07-07,5
23,0002154835,421,뉴스1,"국내 연구진, 슈퍼컴 능가 대용량 그래프 데이터 처리 기술 개발",http://news.naver.com/main/read.nhn?mode=LSD&m...,4,4,GStream 2.0 기술 처리 절차© News1(대전ㆍ충남=뉴스1) 김태진 기자 ...,2016-07-07,5
24,0008526600,001,연합뉴스,"미국, 잠수함 내에 '텃밭' 설치 시험…신선 채소 공급용",http://news.naver.com/main/read.nhn?mode=LSD&m...,3,3,항해 중인 미해군의 버지니아급 핵잠수함 노스캐롤라이나[미해군 홈페이지 제공]컨테니어...,2016-07-07,5

### 1 category, 1 day, all page

In [14]:
@timer
def one_day_df(category, date):
    """ excute time about 60 sec / 10 page """
    
    last_page_number = int(last_page(category, date))
    
    print("last page : {} / {} / {}".format(last_page_number, category, date))
    
    df_list = []
    
    for page in range(1, last_page_number + 1):
        df = one_page_df(category, date, page)
        df_list.append(df)
        time.sleep(1)
        
    return pd.concat(df_list).reset_index(drop=True)

# day_df = one_day_df(100, "2016-07-06")
# len(day_df)

In [12]:
def day_news(date):

    df_list = []

    for category in range(100, 106):
        day_df = one_day_df(category, date)
        df_list.append(day_df)
    
    return pd.concat(df_list).reset_index(drop=True)

In [13]:
date = "2016-07-06"
df = day_news(date)
df.to_csv("./news/" + date + ".csv", index=False, encoding="utf-8" )

last page : 18 / 100 / 2016-07-07
one_page_df : 6.126049995422363 ms
0     0003074039
1     0003074040
2     0003074038
3     0002155349
4     0003074034
5     0003763894
6     0003074033
7     0003074032
8     0002155344
9     0007337157
10    0000081760
11    0003074031
12    0003621646
13    0002155338
14    0002140539
15    0003074027
16    0003621636
17    0002155336
18    0008527063
19    0003582345
20    0002155329
21    0003191140
22    0003074024
23    0008527043
24    0008527041
Name: newsid, dtype: object
one_page_df : 5.993738889694214 ms
0     0008527037
1     0008527036
2     0008527032
3     0002712605
4     0003783274
5     0001080289
6     0008527025
7     0002155296
8     0003763876
9     0003708144
10    0002155287
11    0000870997
12    0003763874
13    0003763875
14    0003708143
15    0000916437
16    0008526985
17    0002848144
18    0000052094
19    0008526970
20    0003582264
21    0002735708
22    0003783271
23    0003708139
24    0007337040
Name: newsid, dtype: object
one_page_df : 5.6545469760894775 ms
0     0000916424
1     0002500597
2     0001080273
3     0002735706
4     0008526952
5     0008526948
6     0008526941
7     0008526940
8     0007337009
9     0008526928
10    0008526920
11    0003708132
12    0007337004
13    0002848125
14    0002155196
15    0008526914
16    0003763810
17    0008526909
18    0008526904
19    0000870974
20    0007336939
21    0002155154
22    0003783255
23    0008526867
24    0002848104
Name: newsid, dtype: object
one_page_df : 7.005692958831787 ms
0     0000333939
1     0008526829
2     0002852984
3     0002155098
4     0008526813
5     0007336866
6     0003582209
7     0002628617
8     0008526805
9     0008526800
10    0008526797
11    0002852979
12    0007336815
13    0002155073
14    0002155058
15    0008526765
16    0002155028
17    0007336783
18    0003582173
19    0003783233
20    0002154998
21    0002154989
22    0008526718
23    0002986660
24    0008526703
Name: newsid, dtype: object
one_page_df : 5.319777011871338 ms
0     0007336688
1     0000916381
2     0008526662
3     0002154928
4     0002154919
5     0008526623
6     0002154898
7     0007336600
8     0002324603
9     0007336583
10    0007336581
11    0002852937
12    0008526601
13    0003582098
14    0002154798
15    0002154792
16    0008526505
17    0002628607
18    0000916367
19    0003621418
20    0007336415
21    0007336404
22    0008526415
23    0002154688
24    0008526395
Name: newsid, dtype: object
one_page_df : 5.874837875366211 ms
0     0002154663
1     0002154658
2     0001080192
3     0002154641
4     0008526299
5     0003707924
6     0002154621
7     0007336224
8     0008526279
9     0003707912
10    0008526243
11    0003707907
12    0008526288
13    0002154586
14    0003707906
15    0008526212
16    0008526205
17    0003582007
18    0007336143
19    0002848012
20    0007336125
21    0000916354
22    0000380810
23    0007336120
24    0002324570
Name: newsid, dtype: object
one_page_df : 6.194350957870483 ms
0     0002016510
1     0007336118
2     0008526091
3     0002154521
4     0007336083
5     0007336079
6     0008526011
7     0003707875
8     0002154424
9     0003191073
10    0003783051
11    0002154381
12    0002280955
13    0002280969
14    0002280968
15    0002280970
16    0007335959
17    0007335923
18    0003707845
19    0003707841
20    0003707842
21    0007335812
22    0007335798
23    0002628577
24    0002847965
Name: newsid, dtype: object
one_page_df : 5.303253173828125 ms
0     0008525732
1     0002154214
2     0002120591
3     0002154202
4     0008525690
5     0003782972
6     0003707783
7     0002154198
8     0002120587
9     0008525668
10    0008525651
11    0002154190
12    0008525641
13    0008525634
14    0008525630
15    0002016501
16    0002016502
17    0008525625
18    0008525624
19    0002280944
20    0008525602
21    0008525600
22    0008525597
23    0007335535
24    0002154085
Name: newsid, dtype: object
one_page_df : 5.671699047088623 ms
0     0002154069
1     0002154063
2     0008525546
3     0007335525
4     0002280938
5     0001080071
6     0003581780
7     0008525498
8     0002154017
9     0000170512
10    0002153968
11    0007335462
12    0003782949
13    0003707756
14    0008525451
15    0008525448
16    0001080031
17    0003581771
18    0003782942
19    0001080028
20    0001080010
21    0001080012
22    0001080018
23    0008525405
24    0002712498
Name: newsid, dtype: object
one_page_df : 5.608504056930542 ms
0     0007335397
1     0002153882
2     0003707735
3     0002153855
4     0008525369
5     0008525367
6     0002153841
7     0007335333
8     0003782914
9     0002153815
10    0003581749
11    0007335305
12    0007335304
13    0002628561
14    0008525322
15    0000081750
16    0007335250
17    0008525300
18    0008525299
19    0008525273
20    0008525266
21    0007335240
22    0003782832
23    0008525246
24    0008525245
Name: newsid, dtype: object
one_page_df : 6.295733213424683 ms
0     0002138529
1     0002138527
2     0002735532
3     0002153662
4     0007335168
5     0003707689
6     0003707688
7     0000870743
8     0008525155
9     0003782806
10    0003782796
11    0002153615
12    0001079875
13    0007335115
14    0002153598
15    0007335110
16    0000916305
17    0008525093
18    0000380764
19    0001079861
20    0007335107
21    0008525083
22    0007335100
23    0002153577
24    0007335098
Name: newsid, dtype: object
one_page_df : 4.9176859855651855 ms
0     0003782770
1     0003581682
2     0003581681
3     0001079856
4     0010336570
5     0010336569
6     0000081747
7     0008525032
8     0007335070
9     0003707662
10    0000170489
11    0007335050
12    0003191013
13    0008524991
14    0003581664
15    0003707655
16    0008524982
17    0008524978
18    0008524973
19    0000427729
20    0003707649
21    0003707650
22    0008524962
23    0000988185
24    0002153496
Name: newsid, dtype: object
one_page_df : 4.967151165008545 ms
0     0002153495
1     0000380749
2     0002324537
3     0003581635
4     0003782685
5     0002140423
6     0003782682
7     0002153472
8     0003707639
9     0007334964
10    0002153467
11    0002120553
12    0001079771
13    0001079770
14    0002847828
15    0000640940
16    0008524871
17    0007334943
18    0002153450
19    0002153447
20    0007334938
21    0007334936
22    0008524854
23    0007334933
24    0002153426
Name: newsid, dtype: object
one_page_df : 6.166749954223633 ms
0     0008524832
1     0003707624
2     0003707600
3     0007334869
4     0002153379
5     0003707588
6     0002153369
7     0008524749
8     0008524748
9     0000870701
10    0007334801
11    0008524724
12    0002153299
13    0008524672
14    0002847797
15    0007334774
16    0008524647
17    0000988348
18    0007334764
19    0002847794
20    0002847793
21    0003707534
22    0008524592
23    0002847787
24    0002847786
Name: newsid, dtype: object
one_page_df : 5.641780853271484 ms
0     0003581427
1     0003581428
2     0008524569
3     0002153244
4     0007334737
5     0008524567
6     0003707505
7     0002153228
8     0002153223
9     0002153221
10    0002153222
11    0002153219
12    0002153218
13    0002153217
14    0008524555
15    0007334731
16    0002847778
17    0002847773
18    0002847776
19    0000152008
20    0000152007
21    0000152005
22    0000152004
23    0000152001
24    0000152000
Name: newsid, dtype: object
one_page_df : 6.9008259773254395 ms
0     0000916239
1     0000916238
2     0000916232
3     0002735438
4     0002735412
5     0002735387
6     0002735385
7     0002735384
8     0002735382
9     0002735381
10    0002735378
11    0002735377
12    0002735376
13    0002735374
14    0002735372
15    0002735371
16    0002986469
17    0002986463
18    0002986465
19    0003190922
20    0003190923
21    0003190920
22    0003190917
23    0003190915
24    0003190914
Name: newsid, dtype: object
one_page_df : 5.473499059677124 ms
0     0002986438
1     0002986433
2     0002986436
3     0002986431
4     0002986432
5     0003190893
6     0002986428
7     0002986427
8     0002986421
9     0002986420
10    0002986418
11    0003190876
12    0003190872
13    0002986415
14    0002986409
15    0002986408
16    0002986410
17    0008524532
18    0002986401
19    0002986391
20    0003707473
21    0008524527
22    0002628520
23    0002628519
24    0002628512
Name: newsid, dtype: object
one_page_df : 2.427328109741211 ms
0     0002628511
1     0002628509
2     0002628500
3     0008524516
4     0008524508
5     0008524507
6     0008524506
7     0008524505
8     0008524504
9     0008524500
10    0007334716
11    0000870600
Name: newsid, dtype: object
one_day_df : 120.134192943573 ms
last page : 15 / 101 / 2016-07-07
one_page_df : 5.673670053482056 ms
0     0003621634
1     0003708160
2     0003074026
3     0000871010
4     0000333956
5     0010336764
6     0003074021
7     0003783275
8     0000333955
9     0003708147
10    0003708146
11    0003074017
12    0002138582
13    0002848147
14    0000916430
15    0000916432
16    0002155271
17    0000916427
18    0000916426
19    0000333950
20    0008526965
21    0007337042
22    0002853052
23    0002155250
24    0002853051
Name: newsid, dtype: object
one_page_df : 8.04860806465149 ms
0     0002853047
1     0003674595
2     0002848137
3     0002853043
4     0002848136
5     0008526942
6     0002138579
7     0000870987
8     0007337011
9     0007337002
10    0002853011
11    0002155181
12    0003763790
13    0003763768
14    0002853002
15    0002852999
16    0002852991
17    0003674443
18    0002155121
19    0002324642
20    0008526828
21    0003674424
22    0000152107
23    0008526807
24    0002324633
Name: newsid, dtype: object
one_page_df : 5.248725891113281 ms
0     0002324636
1     0002324631
2     0007336814
3     0003582193
4     0007336817
5     0008526784
6     0002324622
7     0003708050
8     0003783235
9     0002324619
10    0002155000
11    0007336731
12    0007336730
13    0002352469
14    0000152091
15    0007336685
16    0002154938
17    0002154937
18    0002154936
19    0003073959
20    0003621439
21    0000380825
22    0000124482
23    0002154799
24    0008526472
Name: newsid, dtype: object
one_page_df : 5.225345134735107 ms
0     0002154706
1     0008526436
2     0002852898
3     0003707963
4     0000380821
5     0008526385
6     0007336223
7     0008526291
8     0000333912
9     0002154575
10    0008526211
11    0007336166
12    0008526141
13    0000870878
14    0003707891
15    0003707881
16    0002154359
17    0007335928
18    0008525944
19    0008525943
20    0008525912
21    0002712536
22    0003581867
23    0002712532
24    0008525799
Name: newsid, dtype: object
one_page_df : 8.718245029449463 ms
0     0002154254
1     0002154216
2     0008525731
3     0002154198
4     0002154192
5     0002154189
6     0002154160
7     0007335561
8     0007335551
9     0008525628
10    0007335548
11    0001080077
12    0001080080
13    0001080079
14    0000333891
15    0010336629
16    0008525619
17    0008525616
18    0008525607
19    0002852727
20    0002280942
21    0008525570
22    0003191054
23    0008525547
24    0003707767
Name: newsid, dtype: object
one_page_df : 5.19970703125 ms
0     0003621285
1     0002154015
2     0001080061
3     0001080054
4     0003782953
5     0007335459
6     0003581772
7     0000333881
8     0008525406
9     0001079992
10    0000380784
11    0000333879
12    0007335377
13    0007335367
14    0007335364
15    0008525380
16    0000380779
17    0008525363
18    0003707725
19    0007335303
20    0007335301
21    0003782884
22    0007335298
23    0007335294
24    0007335291
Name: newsid, dtype: object
one_page_df : 5.293540000915527 ms
0     0007335292
1     0007335252
2     0003581740
3     0002735538
4     0000333870
5     0000333866
6     0002099522
7     0003581734
8     0007335243
9     0002852681
10    0002852680
11    0002852676
12    0008525280
13    0008525282
14    0008525279
15    0003707698
16    0002153732
17    0002153743
18    0002153747
19    0002153734
20    0003707707
21    0008525255
22    0008525253
23    0003782846
24    0003782830
Name: newsid, dtype: object
one_page_df : 6.617657899856567 ms
0     0002153709
1     0003782824
2     0003707692
3     0003581716
4     0002712484
5     0003191029
6     0002712480
7     0003707680
8     0003707672
9     0003707671
10    0001079864
11    0001079865
12    0001079868
13    0008525089
14    0008525076
15    0002712474
16    0003581680
17    0003782755
18    0007335056
19    0000380756
20    0001079822
21    0003707656
22    0001079820
23    0001079812
24    0001079819
Name: newsid, dtype: object
one_page_df : 5.603347063064575 ms
0     0003621212
1     0000333857
2     0008524963
3     0000427727
4     0000152018
5     0008524960
6     0008524959
7     0003621208
8     0002847837
9     0001079792
10    0003707643
11    0000640942
12    0001079785
13    0003782679
14    0008524905
15    0001079775
16    0002153470
17    0001079774
18    0001079773
19    0001079772
20    0003707635
21    0003707624
22    0002847821
23    0003782644
24    0008524805
Name: newsid, dtype: object
one_page_df : 6.6852030754089355 ms
0     0008524804
1     0007334891
2     0003581572
3     0002153401
4     0008524787
5     0003763304
6     0003707596
7     0003707595
8     0003782617
9     0003707591
10    0002153374
11    0007334814
12    0003621165
13    0001079726
14    0003782608
15    0003707585
16    0008524745
17    0001079714
18    0000152010
19    0008524740
20    0001079710
21    0003707579
22    0008524736
23    0003782595
24    0003782593
Name: newsid, dtype: object
one_page_df : 7.432659149169922 ms
0     0008524728
1     0008524727
2     0008524693
3     0003782574
4     0002847801
5     0003782554
6     0003782550
7     0003782549
8     0003782548
9     0003782547
10    0002153285
11    0003782545
12    0002153279
13    0008524655
14    0008524651
15    0003782538
16    0008524646
17    0007334766
18    0002153278
19    0003782535
20    0002153270
21    0007334760
22    0001079664
23    0002153267
24    0008524618
Name: newsid, dtype: object
one_page_df : 5.1106719970703125 ms
0     0008524616
1     0008524614
2     0008524615
3     0008524612
4     0007334758
5     0008524610
6     0003707538
7     0008524609
8     0002153264
9     0008524604
10    0003782522
11    0008524596
12    0002852513
13    0008524591
14    0003763252
15    0003581434
16    0003581433
17    0008524579
18    0003707514
19    0003782520
20    0003707523
21    0003707512
22    0003707511
23    0003707510
24    0003707506
Name: newsid, dtype: object
one_page_df : 5.189824104309082 ms
0     0003581419
1     0003707503
2     0002153224
3     0003707501
4     0003707499
5     0003707498
6     0002153216
7     0003073705
8     0002847774
9     0002847775
10    0003707497
11    0003707496
12    0008524549
13    0000152006
14    0000151997
15    0003707495
16    0003707487
17    0002153200
18    0003707486
19    0003782508
20    0000333819
21    0008524537
22    0002735448
23    0003707479
24    0003707477
Name: newsid, dtype: object
one_page_df : 5.251193046569824 ms
0     0002986510
1     0002986514
2     0002986515
3     0002986511
4     0002986506
5     0002986507
6     0002986503
7     0002986484
8     0003190954
9     0003190956
10    0003190953
11    0002986460
12    0002986462
13    0003190934
14    0003190943
15    0003190937
16    0003190940
17    0003190931
18    0003190929
19    0003190935
20    0002986445
21    0003190893
22    0002986400
23    0002986389
24    0002986381
Name: newsid, dtype: object
one_page_df : 4.029099941253662 ms
0     0002986359
1     0008524529
2     0007334724
3     0008524525
4     0007334723
5     0002153186
6     0002628524
7     0002628523
8     0002628515
9     0003073703
10    0002628439
11    0002628433
12    0002628432
13    0002628430
14    0002628428
15    0002628424
16    0002628422
17    0002628420
18    0002628419
19    0002628416
Name: newsid, dtype: object
one_day_df : 104.45902585983276 ms
last page : 17 / 102 / 2016-07-07
one_page_df : 6.271740913391113 ms
0     0003621653
1     0002155350
2     0002155346
3     0003708161
4     0007337150
5     0007337133
6     0002853070
7     0002155329
8     0002324674
9     0002324673
10    0000081759
11    0002324661
12    0008526997
13    0010336749
14    0002712604
15    0007337056
16    0000081758
17    0000641300
18    0002155183
19    0008526905
20    0002848115
21    0003763733
22    0002155132
23    0010336725
24    0008526851
Name: newsid, dtype: object
one_page_df : 4.7448201179504395 ms
0     0000427856
1     0008526831
2     0008526823
3     0003674422
4     0007336846
5     0002155075
6     0002120641
7     0002120640
8     0002120639
9     0008526761
10    0007336765
11    0000870954
12    0001956995
13    0002154897
14    0008526610
15    0008526609
16    0008526599
17    0007336568
18    0007336567
19    0007336564
20    0007336563
21    0001956994
22    0001956993
23    0000870919
24    0000427831
Name: newsid, dtype: object
one_page_df : 4.816006183624268 ms
0     0008526545
1     0002852925
2     0002712562
3     0002848043
4     0002628608
5     0003783147
6     0008526495
7     0007336458
8     0007336456
9     0003073920
10    0003191096
11    0008526463
12    0008526442
13    0000870908
14    0002324591
15    0002154695
16    0008526406
17    0000124481
18    0002848033
19    0002324590
20    0002154662
21    0000870893
22    0002848029
23    0000019104
24    0003191091
Name: newsid, dtype: object
one_page_df : 6.228835105895996 ms
0     0010336690
1     0000427821
2     0008526292
3     0002154622
4     0008526289
5     0008526233
6     0000427817
7     0003763568
8     0008526163
9     0002324568
10    0000081752
11    0008526086
12    0010336679
13    0008526058
14    0002280993
15    0007336056
16    0008526005
17    0007336043
18    0008525996
19    0000201465
20    0002154377
21    0007335955
22    0002154367
23    0002154366
24    0007335940
Name: newsid, dtype: object
one_page_df : 5.831880807876587 ms
0     0007335939
1     0007335932
2     0002154358
3     0002120603
4     0002154355
5     0002986610
6     0002120600
7     0008525902
8     0007335875
9     0008525900
10    0002847976
11    0000870845
12    0003707834
13    0002847973
14    0008525873
15    0008525872
16    0007335841
17    0003763501
18    0002847971
19    0007335818
20    0010336647
21    0008525805
22    0003073863
23    0000102783
24    0008525798
Name: newsid, dtype: object
one_page_df : 5.1043689250946045 ms
0     0008525796
1     0002120597
2     0007335696
3     0002852746
4     0002852744
5     0003073858
6     0000870822
7     0003073856
8     0002120590
9     0002154199
10    0003191060
11    0002120586
12    0002986597
13    0002120584
14    0007335567
15    0007335552
16    0007335549
17    0008525623
18    0003707775
19    0008525600
20    0008525596
21    0003707772
22    0008525593
23    0002154099
24    0002154105
Name: newsid, dtype: object
one_page_df : 5.146087884902954 ms
0     0002154101
1     0002154094
2     0002847946
3     0002324556
4     0002324551
5     0002324552
6     0003191053
7     0002280934
8     0008525520
9     0002847921
10    0003782959
11    0002153992
12    0007335477
13    0003707761
14    0008525454
15    0002120570
16    0003191045
17    0007335425
18    0008525412
19    0001080006
20    0003581761
21    0000427764
22    0007335402
23    0001079990
24    0001079988
Name: newsid, dtype: object
one_page_df : 4.738464117050171 ms
0     0001079984
1     0001079986
2     0008525378
3     0001079977
4     0007335325
5     0007335322
6     0003707728
7     0008525344
8     0008525309
9     0008525307
10    0000427743
11    0008525260
12    0002120564
13    0008525211
14    0003674123
15    0008525165
16    0002153631
17    0002153628
18    0002153625
19    0002153614
20    0003707685
21    0002628555
22    0003191026
23    0007335117
24    0003674095
Name: newsid, dtype: object
one_page_df : 5.4578399658203125 ms
0     0003621231
1     0000152027
2     0007335112
3     0002153586
4     0002847861